/*
    DEMO STYLE
*/
@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

.hide{
    display: none !important;
}
#credential.hide{
    display: block !important;
}
body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}
.credential button{
    position: fixed;
    right: 8px;
}
.dropdown_content{
    position: fixed;
    top: 55px;
    background: #fff;
    padding: 5px 0 5px 0;
    right: 0;
}
.credential{
    z-index: 99999;
    position: absolute;
    right: 9px;
    margin-top: 10px;
}
.account-dropdown{
    position: fixed;
    z-index: 99999;
    right: 0;
    background: #fff;
    top: 56px;
    display: none;
    background: #6cb87e;
}
.account-dropdown ul li{
    border-bottom: 1px solid;
    padding: 5px 5px 5px 0px ;
    border-right: none;
    text-align: left;
    min-width: 160px;
}
.account-dropdown ul li:hover{
    background:#b0dbba;
}

.account-dropdown ul li a{
    background: none;
    color: #fff;
    padding-left:10px !important;
}
.account:hover .account-dropdown {
    display: block !important;
}
/*.credential.dropdown .dropdown-menu.show {*/
    /*position: relative !important;*/
/*}*/
.cart-btn button{
    width: 100%;
    text-align: center;
    padding: 6px;
    line-height: 1.8;
    background: #77bc87;
    border: 1px solid #77bc87;
    color: #fff;
}
.cart-btn button:hover{
    background: #60be74;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}
.top-nav-option{
    float: right;
    display: flex;
    text-align: right;
}
.top-nav-option li{
    min-width: 100px;
    border-right: 1px solid;
    padding: 15px;
    font-size: 18px;
    color: #fff;
    font-weight: 600;
    text-align: center;
}
.navbar-brand {
    padding-bottom: .3125rem;
    margin-right: 1rem;
    font-size: 2.2rem;
    white-space: nowrap;
    margin-left: 12px;
    color: #fff;
    font-weight: 600;
    padding-top: 0;
}
.searchbar{
    margin-top: 7px;
}
.searchbar .input-group input{
    padding: 10px;
}
.nav_style {
    background: #60be74;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;

}


.navbar {
    position: fixed;
    width: 100%;
    padding: 0;
    background: #fff;
    border: none;
    border-radius: 0;
    /* margin-bottom: 40px; */
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
    top: 0;
    z-index: 9;
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}


/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
    /* perspective: 1500px; */
    position: relative;
    top: 35px;
}


#sidebar {
    border-right: 2px solid #9adba9;
    position: fixed;
    top: 47px;
    height: 100%;
    z-index: 9;
    width: 250px;
    background: #b0dbba;
    color: #fff;
    transition: all 0.6s cubic-bezier(0.945, 0.020, 0.270, 0.665);
    transform-origin: bottom left;
}

#sidebar.active {
    margin-left: -250px;
    /*transform: rotateY(100deg);*/
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #6d7fcc;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: #7cbe8b;
}


a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #a6c9ae;
}
ul ul ul a {
    font-size: 0.9em !important;
    padding-left: 40px !important;
    background: #6d7fcc;
}
ul ul ul ul a {
    font-size: 0.9em !important;
    padding-left: 50px !important;
    background: #6d7fcc;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #7386D5;
}

a.article,
a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}



/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
#content {
    position: relative;
    overflow: hidden;
    width: 100%;
    transition: all 0.3s;
    top: 10px;
    padding: 10px;
    margin-bottom: 50px;
}

#sidebarCollapse {
    width: 40px;
    height: 40px;
    background: #60be74;
    cursor: pointer;
    margin: 8px 0;
}

#sidebarCollapse span {
    width: 80%;
    height: 2px;
    margin: 5px auto;
    display: block;
    background: #555;
    transition: all 0.8s cubic-bezier(0.810, -0.330, 0.345, 1.375);
    transition-delay: 0.2s;
}

#sidebarCollapse span:first-of-type {
    /*transform: rotate(45deg) translate(2px, 2px);*/
}

#sidebarCollapse span:nth-of-type(2) {
    opacity: 1;
}

#sidebarCollapse span:last-of-type {
    /*transform: rotate(-45deg) translate(1px, -1px);*/
}


#sidebarCollapse.active span {
    transform: none;
    opacity: 1;
    margin: 5px auto;
}


/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */
@media (max-width: 768px) {
    #sidebar {
        margin-left: 0px;
        /*transform: rotateY(90deg);*/
    }

    #sidebar.active {
        margin-left: -250px;
        /*transform: none;*/
    }

    #sidebarCollapse span:first-of-type,
    #sidebarCollapse span:nth-of-type(2),
    #sidebarCollapse span:last-of-type {
        /*transform: none;*/
        opacity: 1;
        margin: 5px auto;
    }

    #sidebarCollapse.active span {
        margin: 0 auto;
    }

    #sidebarCollapse.active span:first-of-type {
        transform: rotate(45deg) translate(2px, 2px);
    }

    #sidebarCollapse.active span:nth-of-type(2) {
        opacity: 0;
    }

    #sidebarCollapse.active span:last-of-type {
        transform: rotate(-45deg) translate(1px, -1px);
    }

}
ul.list-unstyled img {
    width: auto;
}
/*#######################product*/
.imageWrapperWrapper{
    max-height: 270px;
    overflow: hidden;
}
div.product .imageWrapper .imageWrapperWrapper img {

    width: 100%;
    height: 100%;
    border-radius: 4px;
}

.shop-product-wrap .product {
    position: relative;
    width: 235px;
    float: left;
    height: 342px;
    padding: 5px;
    box-sizing: content-box;
    border-radius: 4px;
    margin: 0px 10px 45px 10px;
}

div.product div.name {
    text-align: center;
    color: #1A1A1A;
    padding-top: 5px;
    font-size: 14px;
    height: 60px;
    text-overflow: ellipsis;
    white-space: normal;
    overflow: hidden;
}

div.product div.subText {
    text-align: center;
    color: #333;
    font-size: 12px;
    font-weight: 400;
    margin-top: 1px;
}

div.product div.price {
    font-weight: 700;
    text-align: center;
    padding-top: 5px;
    font-size: 18px;
}

div.product section.addButtonWrapper {
    cursor: pointer;
    padding: 6px 0;
    text-align: center;

}

div.product section.addButtonWrapper p.buyText {
    display: inline;
    margin-bottom: 0;
    padding-top: 9px;
    transition: all ease-in-out .15s;
    height: 35px;
    color: #fe8280;
}



/* line 3, ../sass/style.scss */
.imageWrapper {
    display: block;
    position: relative;
}

/* line 9, ../sass/style.scss */
.imageWrapper img {
    width: 300px;
    height: auto;
}
img {
    border: 0;
    width: 100%;
    height: auto;
    max-width: 100%;
    vertical-align: middle;
    -ms-interpolation-mode: bicubic;
}
/* line 14, ../sass/style.scss */
.imageWrapper .overlay {
    background: #5e87677a;
    height: 100%;
    width: 100%;
    opacity: 0;
    top: 0;
    left: 0;
    position: absolute;
    padding: 0;
    transition: opacity .5s;
}

/* line 25, ../sass/style.scss */
.imageWrapper .overlay p {
    color: #fff;
    font-family: 'arial';
    text-align: center;
    padding: 110px 35px;
    font-size: 30px;
    line-height: 1.2;
}

/* line 34, ../sass/style.scss */
.imageWrapper:hover .overlay {
    opacity: .9;
    transition: opacity .5s;

}

.addButtonWrapper .button-group button {
    background: #0065b3;
    border: none;
    padding: 0px 7px;
    width: 35px;
    height: 35px;
    cursor: pointer;
    vertical-align: middle;
    transition: all 500ms ease 0s;
    fill: #fff;
    display: inline-block;
    text-align: center;
    box-shadow: none;
    margin: 0 3px;
    line-height: 30px;
    position: relative;
}

.button-group button:hover {
    background: #e24647;
    fill: #fff;
}
.button-group a
{
    z-index: 9;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.addButtonWrapper .button-group button:hover::before{
    width: 126%;
    height: 126%;
    opacity: 1;
}

.addButtonWrapper .button-group button:hover::after {
    width: 126%;
    height: 126%;
    opacity: 1;
}

.addButtonWrapper .button-group button::before {
    left: -5px;
    top: -5px;
    border-top: 3px solid #e24647;
    border-left: 3px solid #e24647;
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
    z-index: 1;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
}

.addButtonWrapper .button-group button::after,
.product-thumb .button-group a::after {
    right: -5px;
    bottom: -5px;
    border-bottom: 3px solid #e24647;
    border-right: 3px solid #e24647;
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
    z-index: 1;
    transition: all 300ms ease;
    -webkit-transition: all 300ms ease;
}

.addButtonWrapper .button-group button {
    margin: 4px !important;
}

#content {
    margin-left: 245px;
    transition: all 0.6s cubic-bezier(0.945, 0.020, 0.270, 0.665);
}

#content.slide {
    margin-left: 0;
    transition: all 0.6s cubic-bezier(0.945, 0.020, 0.270, 0.665);
}

@media (max-width: 768px) {
    .table td, .table th{
        padding: 5px;
    }
    #content {
        margin-left: 0;
        transition: all 0.6s cubic-bezier(0.945, 0.020, 0.270, 0.665);
    }

    #content.slide {
        margin-left: 0;
        transition: all 0.6s cubic-bezier(0.945, 0.020, 0.270, 0.665);
    }

    div.product .imageWrapper .imageWrapperWrapper img {
        max-width: 150px;
    }
    #thumbnails{
        display: flex;
    }

    /*div.product {*/
        /*width: 155px;*/
        /*margin-bottom: 0;*/
    /*}*/
}

.carousel-inner img {
    width: 100%;
    height: 100%;
}
.col-mid .img-block-category {
    margin-bottom: 30px;
}
.single-banner-statics{

    width: 100%;
    overflow: hidden;
}
.single-banner-statics img{
    width: 100%;
}
 {
    margin-bottom: 35px;
}

.home-block-inner {
    border-width: 0px;
    /*float: right;*/

    height: 100%;
    position: absolute;
    /*right: 0;*/
    background: url(../images/slider-banner.jpg) no-repeat top left
}
.pretext{    margin-top: 5px;
    color: #fff;
    line-height: 24px;
    text-transform: none;
    margin-left: 25px;
    margin-right: 25px;
    letter-spacing: 0.5px;
}
.view_more_bnt{
    background: #fff;
    text-transform: uppercase;
    color: #666;
    padding: 8px 15px;
    font-size: 11px;
    letter-spacing: 0.5px;
    font-weight: bold;
    float: left;
    margin-top: 25px;
    margin-left: 25px;
    border-radius: 3px;
}
.view_more_bnt:hover{
    background: #f7746d;
    color: #fff;
}
.block-title h2{
    margin: auto;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    font-weight: 600;
    padding: 25px;
    text-transform: uppercase;
    border-bottom: 1px rgba(255,255,255,0.5) solid;
    margin-bottom: 20px;
}
.button-group{
    display: inline-flex;
    margin: auto;
}
footer ul.footer-social li {
    display: inline-block;
    margin: 10px;
}
footer ul.footer-menu li {
    display: inline-block;
    padding: 25px 10px 0;
}
/* -----features area css start----- */
.feature-inner {
    border: 1px solid #f0f0f0;
    border-radius: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 36px 5px;
}

.feature-inner .col {
    position: relative;
    padding: 0;
    width: 20%;
}

.feature-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.feature-content {
    margin-left: 18px;
}

.feature-content h4 {
    color: #111;
    font-size: 18px;
    line-height: 20px;
    margin-bottom: 5px;
    text-transform: capitalize;
}

.feature-content p {
    font-size: 13px;
    line-height: 20px;
}

/* -----features area css end----- */
.img-block {
    margin: 0px 10px 30px 10px;
    position: relative;
}
.img-block-category {
    margin: 0px 10px 30px 10px;
    position: relative;
}

.banner-details {
    text-align: center;
    /*color: #fff;*/
    position: absolute;
    font-family: 'Montserrat', sans-serif;
    top: 15px;
    left: 0;
    z-index: 10;
    right: 0;
}

.banner-title {
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 2px;
}
.banner-details .line {
    float: none;
    color: #333;
    border-bottom: 2px #fff solid;
    margin: 10px auto;
    width: 80px;
    height: 1px;
}
.categorylist .img-block-category img{
    /*height: 300px;*/
    /*width: 235px;*/
    height: auto;
    width: auto;
}
/*-----contact page 2 css-----*/
.contact-two-area {
    background: #f6f6f6;
}

.contact2-title h2 {
    color: #333;
    font-size: 26px;
    font-weight: 700;
    line-height: 40px;
    margin-bottom: 25px;
    text-transform: uppercase;
}

.contact-icon {
    background: #2a2a2a;
    border-radius: 50%;
    display: inline-block;
    height: 80px;
    margin-bottom: 26px;
    width: 80px;
}

.contact-icon i {
    color: #fff;
    font-size: 40px;
    line-height: 80px;
}

.contact-icon:hover {
    background: #fedc19;
}

.contact-single-info h3 {
    color: #111;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
}

.contact-single-info.text-center>p {
    margin-top: 20px;
}

.contact-message input,
.contact-message textarea {
    background: #fff;
    border: medium none;
    color: #838383;
    margin-bottom: 30px;
    padding: 10px;
    width: 100%;
}

.contact-message textarea {
    height: 140px;
}

.contact-btn .btn.btn-secondary {
    padding: 4px 20px;
}

.form-messege.success {
    color: #fff;
    font-size: 16px;
    background: #222;
    border-radius: 5px;
    padding: 10px 15px;
    margin-top: 15px;
}
/******************** End contactpage **************/
/* -----product wrapper area css start----- */
/* section title start */
.section-title {
    position: relative;
    margin-top: 54px;
    margin-bottom: 22px;
}

.section-title h3 {
    background: #fff none repeat scroll 0 0;
    color: #111;
    display: inline-block;
    font-size: 26px;
    padding-right: 30px;
    position: relative;
    text-transform: capitalize;
}

.section-title span {
    font-weight: 600;
}

.section-title.module-three {
    position: relative;
}

.section-title::after {
    background: #f0f0f0;
    content: "";
    height: 1px;
    position: absolute;
    top: 50%;
    width: 100%;
    left: 0;
    z-index: -1;
}

.hm-1 .section-title.module-three {
    margin-top: 40px;
    margin-bottom: 35px;
}

.boxx-tab {
    left: 50%;
    position: absolute;
    right: 0;
    text-align: center;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 100%;
}

.nav.my-tab {
    background: #fff;
    display: inline-block;
    padding: 0 30px;
    border: 1px solid #f0f0f0;
    border-radius: 25px;
}

.nav.my-tab li {
    display: inline-block;
    margin-right: 15px;
    position: relative;
}

.nav.my-tab li:last-child {
    margin-right: 0;
}

.nav.my-tab li::after {
    background: #d6d6d6;
    content: "";
    height: 1px;
    position: absolute;
    right: -15px;
    top: 50%;
    width: 15px;
}

.nav.my-tab li:last-child::after {
    display: none;
}

.nav.my-tab a {
    color: #444;
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
    padding: 0 15px;
}

.nav.my-tab li a:hover,
.nav.my-tab li a.active {
    color: #111;
}
/* ------Owl carosel nav style------ */
.owl-nav {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #f0f0f0;
    border-radius: 25px;
    height: 32px;
    display: inline-block;
    padding: 0 8px;
}

 .owl-nav div {
    display: inline-block;
    padding: 0 8px;
}

.product-wrapper .owl-theme .owl-nav {
    position: absolute;
    top: -67px;
    text-align: center;
    -webkit-tap-highlight-color: transparent;
    right: 0;
}
.product-wrapper .owl-nav.disabled{
    display: block !important;
}
button:focus {
    outline: none;
    outline: none;
}
.owl-theme .owl-nav [class*='owl-']:hover {
    background: transparent !important;
    color: #869791 !important;
    text-decoration: none;
}
.product-wrapper3 .owl-nav {
    position: absolute;
    top: -67px;
    right: 0;
}



figure{
    display:block;
}figure {
     margin: 1em 40px;
 }
figure {
    margin: 0;
}
#thumbnails li {
    margin-bottom: 10px;
}

#thumbnails li img {
    width: 100px;
}

#thumbnails li a:hover img {
    border: 1px solid #d89522;
}
.product-cover-wrap {
    border: 1px solid #eee;
}

img {
    vertical-align: middle;
}

figure {
    margin: 0;
}

@media (min-width: 992px) {
    .col-md-1,
    .col-md-2,
    .col-md-3,
    .col-md-4,
    .col-md-5,
    .col-md-6,
    .col-md-7,
    .col-md-8,
    .col-md-9,
    .col-md-10,
    .col-md-11,
    .col-md-12 {
        float: left;
    }
    .col-md-12 {
        width: 100%;
    }
    .col-md-11 {
        width: 91.66666667%;
    }
    .col-md-10 {
        width: 83.33333333%;
    }
    .col-md-9 {
        width: 75%;
    }
    .col-md-8 {
        width: 66.66666667%;
    }
    .col-md-7 {
        width: 58.33333333%;
    }
    .col-md-6 {
        width: 50%;
    }
    .col-md-5 {
        width: 41.66666667%;
    }
    .col-md-4 {
        width: 33.33333333%;
    }
    .col-md-3 {
        width: 25%;
    }
    .col-md-2 {
        width: 16.66666667%;
    }
    .col-md-1 {
        width: 8.33333333%;
    }
    .col-md-pull-12 {
        right: 100%;
    }
    .col-md-pull-11 {
        right: 91.66666667%;
    }
    .col-md-pull-10 {
        right: 83.33333333%;
    }
    .col-md-pull-9 {
        right: 75%;
    }
    .col-md-pull-8 {
        right: 66.66666667%;
    }
    .col-md-pull-7 {
        right: 58.33333333%;
    }
    .col-md-pull-6 {
        right: 50%;
    }
    .col-md-pull-5 {
        right: 41.66666667%;
    }
    .col-md-pull-4 {
        right: 33.33333333%;
    }
    .col-md-pull-3 {
        right: 25%;
    }
    .col-md-pull-2 {
        right: 16.66666667%;
    }
    .col-md-pull-1 {
        right: 8.33333333%;
    }
    .col-md-pull-0 {
        right: auto;
    }
    .col-md-push-12 {
        left: 100%;
    }
    .col-md-push-11 {
        left: 91.66666667%;
    }
    .col-md-push-10 {
        left: 83.33333333%;
    }
    .col-md-push-9 {
        left: 75%;
    }
    .col-md-push-8 {
        left: 66.66666667%;
    }
    .col-md-push-7 {
        left: 58.33333333%;
    }
    .col-md-push-6 {
        left: 50%;
    }
    .col-md-push-5 {
        left: 41.66666667%;
    }
    .col-md-push-4 {
        left: 33.33333333%;
    }
    .col-md-push-3 {
        left: 25%;
    }
    .col-md-push-2 {
        left: 16.66666667%;
    }
    .col-md-push-1 {
        left: 8.33333333%;
    }
    .col-md-push-0 {
        left: auto;
    }
    .col-md-offset-12 {
        margin-left: 100%;
    }
    .col-md-offset-11 {
        margin-left: 91.66666667%;
    }
    .col-md-offset-10 {
        margin-left: 83.33333333%;
    }
    .col-md-offset-9 {
        margin-left: 75%;
    }
    .col-md-offset-8 {
        margin-left: 66.66666667%;
    }
    .col-md-offset-7 {
        margin-left: 58.33333333%;
    }
    .col-md-offset-6 {
        margin-left: 50%;
    }
    .col-md-offset-5 {
        margin-left: 41.66666667%;
    }
    .col-md-offset-4 {
        margin-left: 33.33333333%;
    }
    .col-md-offset-3 {
        margin-left: 25%;
    }
    .col-md-offset-2 {
        margin-left: 16.66666667%;
    }
    .col-md-offset-1 {
        margin-left: 8.33333333%;
    }
    .col-md-offset-0 {
        margin-left: 0%;
    }
}
@media (min-width: 1200px) {
    .col-lg-1,
    .col-lg-2,
    .col-lg-3,
    .col-lg-4,
    .col-lg-5,
    .col-lg-6,
    .col-lg-7,
    .col-lg-8,
    .col-lg-9,
    .col-lg-10,
    .col-lg-11,
    .col-lg-12 {
        float: left;
    }
    .col-lg-12 {
        width: 100%;
    }
    .col-lg-11 {
        width: 91.66666667%;
    }
    .col-lg-10 {
        width: 83.33333333%;
    }
    .col-lg-9 {
        width: 75%;
    }
    .col-lg-8 {
        width: 66.66666667%;
    }
    .col-lg-7 {
        width: 58.33333333%;
    }
    .col-lg-6 {
        width: 50%;
    }
    .col-lg-5 {
        width: 41.66666667%;
    }
    .col-lg-4 {
        width: 33.33333333%;
    }
    .col-lg-3 {
        width: 25%;
    }
    .col-lg-2 {
        width: 16.66666667%;
    }
    .col-lg-1 {
        width: 8.33333333%;
    }
    .col-lg-pull-12 {
        right: 100%;
    }
    .col-lg-pull-11 {
        right: 91.66666667%;
    }
    .col-lg-pull-10 {
        right: 83.33333333%;
    }
    .col-lg-pull-9 {
        right: 75%;
    }
    .col-lg-pull-8 {
        right: 66.66666667%;
    }
    .col-lg-pull-7 {
        right: 58.33333333%;
    }
    .col-lg-pull-6 {
        right: 50%;
    }
    .col-lg-pull-5 {
        right: 41.66666667%;
    }
    .col-lg-pull-4 {
        right: 33.33333333%;
    }
    .col-lg-pull-3 {
        right: 25%;
    }
    .col-lg-pull-2 {
        right: 16.66666667%;
    }
    .col-lg-pull-1 {
        right: 8.33333333%;
    }
    .col-lg-pull-0 {
        right: auto;
    }
    .col-lg-push-12 {
        left: 100%;
    }
    .col-lg-push-11 {
        left: 91.66666667%;
    }
    .col-lg-push-10 {
        left: 83.33333333%;
    }
    .col-lg-push-9 {
        left: 75%;
    }
    .col-lg-push-8 {
        left: 66.66666667%;
    }
    .col-lg-push-7 {
        left: 58.33333333%;
    }
    .col-lg-push-6 {
        left: 50%;
    }
    .col-lg-push-5 {
        left: 41.66666667%;
    }
    .col-lg-push-4 {
        left: 33.33333333%;
    }
    .col-lg-push-3 {
        left: 25%;
    }
    .col-lg-push-2 {
        left: 16.66666667%;
    }
    .col-lg-push-1 {
        left: 8.33333333%;
    }
    .col-lg-push-0 {
        left: auto;
    }
    .col-lg-offset-12 {
        margin-left: 100%;
    }
    .col-lg-offset-11 {
        margin-left: 91.66666667%;
    }
    .col-lg-offset-10 {
        margin-left: 83.33333333%;
    }
    .col-lg-offset-9 {
        margin-left: 75%;
    }
    .col-lg-offset-8 {
        margin-left: 66.66666667%;
    }
    .col-lg-offset-7 {
        margin-left: 58.33333333%;
    }
    .col-lg-offset-6 {
        margin-left: 50%;
    }
    .col-lg-offset-5 {
        margin-left: 41.66666667%;
    }
    .col-lg-offset-4 {
        margin-left: 33.33333333%;
    }
    .col-lg-offset-3 {
        margin-left: 25%;
    }
    .col-lg-offset-2 {
        margin-left: 16.66666667%;
    }
    .col-lg-offset-1 {
        margin-left: 8.33333333%;
    }
    .col-lg-offset-0 {
        margin-left: 0%;
    }
}
.nav.nav-pills{
    width: 100%;
}

.modal-dialog{
    max-width: 70%;
}
.modal-content{
    padding: 30px;
}
.img-block-category img {
    height: 300px;
    width: 235px;
}


@media (max-width: 768px) {
    .categorylist .img-block-category img {
        height: 180px;
        width: 155px;
    }
    .single-banner-statics{
        height: auto;
    }
    .feature-inner .col {
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
        width: 100%;
    }
    .feature-item {
        margin-bottom: 30px;
    }
}